@page
@model TripsS.Areas.Identity.Pages.Account.ChangePasswordFirstLoginModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Your Password</h2>

<p>You must change your password before accessing your account.</p>

<form method="post">
    <div>
        <label for="FunctionResult">Compute the result of the function: @Model.A * ln(2 + @Model.X)</label>
        <input id="FunctionResult" name="FunctionResult" />
    </div>
    <div>
        <label for="NewPassword">New Password</label>
        <input type="password" id="NewPassword" name="NewPassword" />
    </div>
    <div>
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" />
    </div>
    <button type="submit">Submit</button>
</form>
